.notFoundCont{
    position: relative;
    margin-top: 0;
    overflow: hidden;
    width: 95%;
    height: 85vh;
    margin-bottom: 30px;
    margin-right: auto;
    margin-left: auto;
}


.giphy{
    text-align: center;
    width: 150px;
    height: 150px;
    top: 50%;
    position: absolute;
    left: 50%;
    transform: translate(-50%,-50%);
}

iframe{
    width: 150px;
    padding: 0;
    margin: 0;
}

.text{
    font-size: 20px;
    font-display: quicksand;
    letter-spacing: 4px;
    text-transform: uppercase
}